* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #0080ff;
}

.rating-container {
  text-align: center;
  padding: 40px 30px;
  border: 1px solid #ddd;
  width: 400px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}

.stars {
  display: flex;
  justify-content: center;
  gap: 10px;
  font-size: 2rem;
  cursor: pointer;
  margin: 15px;
}

.star {
  transition: color 0.2s ease-in-out;
  color: #ccc;
}

.star.active {
  color: gold;
}

.feedback {
  font-size: 1rem;
  font-weight: bold;
  color: #333;
}
.submit-btn,
.close-btn {
  background-color: #0080ff;
  padding: 7px 35px;
  border: 0;
  border-radius: 5px;
  margin: 15px;
  color: white;
  cursor: pointer;
  transition: all 0.5s ease;
}
.submit-btn:disabled {
  background-color: gray;
  cursor: not-allowed;
}
.submit-btn:hover:not(:disabled) {
  background-color: #024990;
}
.close-btn {
  background-color: red;
  margin: auto;
}
.close-btn:hover {
  background-color: rgb(144, 4, 4);
}
.modal-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal {
  width: 300px;
  text-align: center;
  padding: 20px;
  font-size: 1rem;
  background-color: #fff;
  color: #333;
  border-radius: 5px;
}
.modal p {
  margin-bottom: 15px;
}
